<%= render "partials/styles" %>

<section class="hero is-small">
    <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Student Assessment Quiz
      </h1>
      <h2 class="subtitle">
        Name: Shouhei Yamauchi | ID: z3219312
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="level">
      <div class="level-item has-text-centered">
        <p class="heading">Algorithm</p>
        <p class="title">&nbsp;0 / 2</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">HTML/CSS</p>
        <p class="title">&nbsp;0 / 5</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Self Assessment</p>
        <p class="title">&nbsp;0 / 4</p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Personality Analysis</p>
        <p class="title">&nbsp;0 / 3</p>
      </div>
    </nav>
  </div>
</section>
<section class="section">
  <div class="columns is-mobile is-multiline">
    <div class="column is-two-thirds-desktop">
      <section class="panel">
        <p class="panel-heading">
          Algorithm
        </p>
          <div class="panel-block">
            <strong>Question 1:</strong><br><br>
            There are two sorted arrays nums1 and nums2 of size m and n respectively.<br>
            Find the median of the two sorted arrays. The overall run time complexity should be O(log (m+n)).<br><br>
            <em>Example 1:</em><br><br>
            <pre>nums1 = [1, 3]<br>nums2 = [2]</pre>
            <br>
            The median is 2.0<br><br>
            <p class="control">
                <textarea class="textarea" placeholder="Type your code here"></textarea>
            </p>
            <br><br>
            <strong>Question 2:</strong><br><br>
            You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order and each of their nodes contain a single digit. Add the two numbers and return it as a linked list.<br><br>
            You may assume the two numbers do not contain any leading zero, except the number 0 itself.<br><br>

            <pre>Input: (2 -> 4 -> 3) + (5 -> 6 -> 4)<br>Output: 7 -> 0 -> 8</pre><br><br>
            <p class="control">
                <textarea class="textarea" placeholder="Type your code here"></textarea>
            </p>
          </div>
          <div class="panel-block">
            <button class="button is-default is-outlined is-fullwidth">
              Save
            </button>
          </div>
      </section>
      <section class="panel">
        <p class="panel-heading">
          Self-assessment
        </p>
          <div class="panel-block">
            <div class="range-slider">
              What would you rate your Ruby skills?
              <input class="range-slider__range" type="range" value="50" min="0" max="100" step="5">
              <span class="range-slider__value">0</span>
            </div>
            <div class="range-slider">
              What would you rate your HTML/CSS skills?
              <input class="range-slider__range" type="range" value="50" min="0" max="100" step="5">
              <span class="range-slider__value">0</span>
            </div>
            <div class="range-slider">
              What would you rate your communication skills?
              <input class="range-slider__range" type="range" value="50" min="0" max="100" step="5">
              <span class="range-slider__value">0</span>
            </div>
            <div class="range-slider">
              What would you rate your presentation skills?
              <input class="range-slider__range" type="range" value="50" min="0" max="100" step="5">
              <span class="range-slider__value">0</span>
            </div>
            <br><br>
          </div>
          <div class="panel-block">
            <button class="button is-default is-outlined is-fullwidth">
              Save
            </button>
          </div>
      </section>

      <section class="panel">
        <p class="panel-heading">
          Personality Analysis
        </p>
        <div class="panel-block">

          <div class="field">
            <label class="label">Facebook Profile Link</label>
            <p class="control">
              <input class="input" type="text" placeholder="https://www.facebook.com/user">
            </p>
          </div>
          <div class="field">
            <label class="label">Twitter Page Link</label>
            <p class="control">
              <input class="input" type="text" placeholder="https://www.twitter.com/user">
            </p>
            <br>
            Write a small introduction about yourself (5,000 words limit)<br><br>
            <p class="control">
              <textarea class="textarea" placeholder="Type here"></textarea>
            </p>
            <br>
            <div class="has-text-right">
              <%= image_tag("watson-logo.gif", width: '65') %><%= image_tag("powered_by_watson.png", width: '200') %>
            </div>

          </div>
        </div>

        <div class="panel-block">
          <button class="button is-default is-outlined is-fullwidth">
            Save
          </button>
        </div>
      </section>

      <section class="panel">
        <p class="panel-heading">
          Submission
        </p>
        <div class="panel-block has-text-centered">
          <br><br><br>
          <strong>Click on the submit button below once you have reviewed all of your answers.</strong><br><br><br><br>
        </div>
        <div class="panel-block">
          <a href="/pages/quiz_submission"><button class="button is-default is-outlined is-fullwidth">
            Submit
          </button></a>
        </div>
      </section>
    </div>
      <div class="column is-one-third-desktop">
        <section class="panel">
          <p class="panel-heading">
            Current Skills
          </p>
          <div class="panel-block">
            <div id="chart2" style="height: 280px;">
              <svg height="280" version="1.1" width="302" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.75px;">
                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                <path fill="none" stroke="#0b62a4" d="M150.796875,226.66666666666669A86.66666666666667,86.66666666666667,0,0,0,232.77138164112665,168.1299017427184" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                <path
                    fill="#0b62a4"
                    stroke="#ffffff"
                    d="M150.796875,229.66666666666669A89.66666666666667,89.66666666666667,0,0,0,235.60896071716567,169.10362911073557L269.029336501625,180.57197366738228A125,125,0,0,1,150.796875,265Z"
                    stroke-width="3"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <path
                    fill="none"
                    stroke="#3980b5"
                    d="M232.77138164112665,168.1299017427184A86.66666666666667,86.66666666666667,0,0,0,73.06646953389671,101.67122259729263"
                    stroke-width="2"
                    opacity="1"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                <path
                    fill="#3980b5"
                    stroke="#ffffff"
                    d="M235.60896071716567,169.10362911073557A89.66666666666667,89.66666666666667,0,0,0,70.37580165237775,100.34445722566045L34.20126680084506,82.50683389593895A130,130,0,0,1,273.75863496169,182.19485261407758Z"
                    stroke-width="3"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <path
                    fill="none"
                    stroke="#679dc6"
                    d="M73.06646953389671,101.67122259729263A86.66666666666667,86.66666666666667,0,0,0,150.76964786411668,226.66666238983814"
                    stroke-width="2"
                    opacity="0"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                <path
                    fill="#679dc6"
                    stroke="#ffffff"
                    d="M70.37580165237775,100.34445722566045A89.66666666666667,89.66666666666667,0,0,0,150.7687053863361,229.66666224179409L150.75760509247598,264.9999938314973A125,125,0,0,1,38.68571327004334,84.71810951532592Z"
                    stroke-width="3"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <text
                    x="150.796875"
                    y="130"
                    text-anchor="middle"
                    font="10px &quot;Arial&quot;"
                    stroke="none"
                    fill="#000000"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 15px; line-height: normal; font-family: Arial;"
                    font-size="15px"
                    font-weight="800"
                    transform="matrix(1.5595,0,0,1.5595,-84.364,-77.4925)"
                    stroke-width="0.6412259615384615">
                    <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="5.5">HTML/CSS</tspan>
                </text>
                <text
                    x="150.796875"
                    y="150"
                    text-anchor="middle"
                    font="10px &quot;Arial&quot;"
                    stroke="none"
                    fill="#000000"
                    style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial;"
                    font-size="14px"
                    transform="matrix(1.8056,0,0,1.8056,-121.4627,-114.3889)"
                    stroke-width="0.5538461538461539">
                    <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="5">33.67</tspan>
                </text>
              </svg>
            </div>
          </div>

          <div class="panel-block">
            <button class="button is-default is-outlined is-fullwidth">
              View Data
            </button>
          </div>
        </section>
        <section class="panel">
            <p class="panel-heading">
                Stats History
            </p>
            <div class="panel-block">
              <div id="chart3" style="height: 280px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <svg height="280" version="1.1" width="302" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.34375px;">
                  <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
                  <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                  <text
                      x="32.515625"
                      y="241"
                      text-anchor="end"
                      font="10px &quot;Arial&quot;"
                      stroke="none"
                      fill="#888888"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                      font-size="12px"
                      font-family="sans-serif"
                      font-weight="normal">
                      <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">0</tspan>
                  </text>
                  <path fill="none" stroke="#aaaaaa" d="M45.015625,241H276.59375" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                  <text
                      x="32.515625"
                      y="187"
                      text-anchor="end"
                      font="10px &quot;Arial&quot;"
                      stroke="none"
                      fill="#888888"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                      font-size="12px"
                      font-family="sans-serif"
                      font-weight="normal">
                      <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">50</tspan>
                  </text>
                  <path fill="none" stroke="#aaaaaa" d="M45.015625,187H276.59375" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                  <text
                      x="32.515625"
                      y="133"
                      text-anchor="end"
                      font="10px &quot;Arial&quot;"
                      stroke="none"
                      fill="#888888"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                      font-size="12px"
                      font-family="sans-serif"
                      font-weight="normal">
                      <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">100</tspan>
                  </text>
                  <path fill="none" stroke="#aaaaaa" d="M45.015625,133H276.59375" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                  <text
                      x="32.515625"
                      y="79"
                      text-anchor="end"
                      font="10px &quot;Arial&quot;"
                      stroke="none"
                      fill="#888888"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                      font-size="12px"
                      font-family="sans-serif"
                      font-weight="normal">
                      <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">150</tspan>
                  </text>
                  <path fill="none" stroke="#aaaaaa" d="M45.015625,79H276.59375" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                  <text
                      x="32.515625"
                      y="25"
                      text-anchor="end"
                      font="10px &quot;Arial&quot;"
                      stroke="none"
                      fill="#888888"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                      font-size="12px"
                      font-family="sans-serif"
                      font-weight="normal">
                      <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">200</tspan>
                  </text>
                  <path fill="none" stroke="#aaaaaa" d="M45.015625,25H276.59375" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                  <text
                      x="234.5095998257406"
                      y="253.5"
                      text-anchor="middle"
                      font="10px &quot;Arial&quot;"
                      stroke="none"
                      fill="#888888"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;"
                      font-size="12px"
                      font-family="sans-serif"
                      font-weight="normal"
                      transform="matrix(1,0,0,1,0,7)">
                      <tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">1910</tspan>
                  </text>
                  <path
                      fill="#a7b3bc"
                      stroke="none"
                      d="M45.015625,69.28C50.27614377178243,74.41,60.797181315347274,80.48499999999999,66.0577000871297,89.79999999999998C71.31821885891213,99.11499999999998,81.83925640247698,142.99,87.0997751742594,143.8C92.36029394604182,144.61,102.88133148960668,93.58369357045144,108.1418502613891,96.28C113.41678141336818,98.98369357045144,123.96664371732636,163.10186046511626,129.24157486930545,165.39999999999998C134.50209364108787,167.69186046511626,145.02313118465273,122.06499999999998,150.28364995643514,114.63999999999999C155.54416872821756,107.21499999999999,166.06520627178242,115.85499999999999,171.32572504356483,106C176.58624381534725,96.145,187.10728135891213,29.05923392612857,192.36780013069455,35.79999999999998C197.64273128267365,42.55923392612857,208.1925935866318,141.07414500683993,213.4675247386109,160C218.72804351039332,178.87414500683994,229.24908105395818,187,234.5095998257406,187C239.770118597523,187,250.29115614108787,166.75,255.55167491287028,160C260.8121936846527,153.25,271.3332312282176,139.75,276.59375,133L276.59375,241L45.015625,241Z"
                      fill-opacity="1"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                  <path
                      fill="none"
                      stroke="#7a92a3"
                      d="M45.015625,69.28C50.27614377178243,74.41,60.797181315347274,80.48499999999999,66.0577000871297,89.79999999999998C71.31821885891213,99.11499999999998,81.83925640247698,142.99,87.0997751742594,143.8C92.36029394604182,144.61,102.88133148960668,93.58369357045144,108.1418502613891,96.28C113.41678141336818,98.98369357045144,123.96664371732636,163.10186046511626,129.24157486930545,165.39999999999998C134.50209364108787,167.69186046511626,145.02313118465273,122.06499999999998,150.28364995643514,114.63999999999999C155.54416872821756,107.21499999999999,166.06520627178242,115.85499999999999,171.32572504356483,106C176.58624381534725,96.145,187.10728135891213,29.05923392612857,192.36780013069455,35.79999999999998C197.64273128267365,42.55923392612857,208.1925935866318,141.07414500683993,213.4675247386109,160C218.72804351039332,178.87414500683994,229.24908105395818,187,234.5095998257406,187C239.770118597523,187,250.29115614108787,166.75,255.55167491287028,160C260.8121936846527,153.25,271.3332312282176,139.75,276.59375,133"
                      stroke-width="3"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                  <circle cx="45.015625" cy="69.28" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="66.0577000871297" cy="89.79999999999998" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="87.0997751742594" cy="143.8" r="7" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="108.1418502613891" cy="96.28" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="129.24157486930545" cy="165.39999999999998" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="150.28364995643514" cy="114.63999999999999" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="171.32572504356483" cy="106" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="192.36780013069455" cy="35.79999999999998" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="213.4675247386109" cy="160" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="234.5095998257406" cy="187" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="255.55167491287028" cy="160" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="276.59375" cy="133" r="4" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <path
                      fill="#2577b5"
                      stroke="none"
                      d="M45.015625,154.6C50.27614377178243,155.95,60.797181315347274,155.95,66.0577000871297,160C71.31821885891213,164.05,81.83925640247698,187,87.0997751742594,187C92.36029394604182,187,102.88133148960668,160,108.1418502613891,160C113.41678141336818,160,123.96664371732636,187,129.24157486930545,187C134.50209364108787,187,145.02313118465273,163.375,150.28364995643514,160C155.54416872821756,156.625,166.06520627178242,156.625,171.32572504356483,160C176.58624381534725,163.375,187.10728135891213,187,192.36780013069455,187C197.64273128267365,187,208.1925935866318,160,213.4675247386109,160C218.72804351039332,160,229.24908105395818,187,234.5095998257406,187C239.770118597523,187,250.29115614108787,166.75,255.55167491287028,160C260.8121936846527,153.25,271.3332312282176,139.75,276.59375,133L276.59375,241L45.015625,241Z"
                      fill-opacity="1"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                  <path
                      fill="none"
                      stroke="#0b62a4"
                      d="M45.015625,154.6C50.27614377178243,155.95,60.797181315347274,155.95,66.0577000871297,160C71.31821885891213,164.05,81.83925640247698,187,87.0997751742594,187C92.36029394604182,187,102.88133148960668,160,108.1418502613891,160C113.41678141336818,160,123.96664371732636,187,129.24157486930545,187C134.50209364108787,187,145.02313118465273,163.375,150.28364995643514,160C155.54416872821756,156.625,166.06520627178242,156.625,171.32572504356483,160C176.58624381534725,163.375,187.10728135891213,187,192.36780013069455,187C197.64273128267365,187,208.1925935866318,160,213.4675247386109,160C218.72804351039332,160,229.24908105395818,187,234.5095998257406,187C239.770118597523,187,250.29115614108787,166.75,255.55167491287028,160C260.8121936846527,153.25,271.3332312282176,139.75,276.59375,133"
                      stroke-width="3"
                      style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                  <circle cx="45.015625" cy="154.6" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="66.0577000871297" cy="160" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="87.0997751742594" cy="187" r="7" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="108.1418502613891" cy="160" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="129.24157486930545" cy="187" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="150.28364995643514" cy="160" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="171.32572504356483" cy="160" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="192.36780013069455" cy="187" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="213.4675247386109" cy="160" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="234.5095998257406" cy="187" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="255.55167491287028" cy="160" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                  <circle cx="276.59375" cy="133" r="4" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                </svg>
                <div class="morris-hover morris-default-style" style="left: 55.7482px; top: 104px;">
                  <div class="morris-hover-row-label">3</div>
                  <div class="morris-hover-point" style="color: #0b62a4">
                      2015: 50
                  </div>
                  <div class="morris-hover-point" style="color: #7A92A3">
                      2016: 40
                  </div>
                </div>
              </div>
            </div>

          <div class="panel-block">
            <button class="button is-default is-outlined is-fullwidth">
              View Data
            </button>
          </div>
        </section>
      </div>

  </div>
</section>
<script type="text/javascript">
    var rangeSlider = function () {
        var slider = $('.range-slider'),
            range = $('.range-slider__range'),
            value = $('.range-slider__value');

        slider.each(function () {

            value.each(function () {
                var value = $(this).prev().attr('value');
                $(this).html(value);
            });

            range.on('input', function () {
                $(this).next(value).html(this.value);
            });
        });
    };

    rangeSlider();
</script>
